body {
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../terrass.webp') center center / cover no-repeat fixed;
    opacity: 0.5; /* Set the opacity level you want */
    z-index: -1; /* Ensures the background stays behind the content */
}
